body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f8f8f8;
    padding: 24px 0px;
    position: fixed; /* Fijo para que se mantenga en su posición */
    top: 0;
    width: 100%;
    z-index: 10000; /* Asegura que esté por encima del hero */
}
/* .active{
    margin-top: 44px;
} */
.navbar-logo {
    margin-left: 24px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 32px;
}

.navbar-links {
    margin-right: 44px;
    display: flex;
    gap: 32px;
}

.navbar-links a {
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    color: #161616;
    font-size: 20px;
}


.overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Color y opacidad */
    z-index: 999; /* Encima del contenido */
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 2px;
    background-color: #121212ba;
    margin: 3px 0;
    transition: 0.4s;
}

.hamburger.active .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active .bar2 {
    opacity: 0;
}

.hamburger.active .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    margin-top: 60px; /* Ajusta según la altura de tu navbar */
}

.hero-image {
    flex: 1;
    max-width: 24%;
    padding: 24px 0;
}

.hero-text {
    margin-left: 124px;
    text-align: start;
    flex: 1;}
.hero-text h1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 32px;
}

.hero-text p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 60px;
    font-weight: 800;
    margin: 10px 0 20px 0;
}

.hero-button {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #6a0dad;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.benefits {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: #fff;
}

.benefits-title {
    flex: 1;
    font-family: "Nunito Sans", sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    text-align: right;
    margin-right: 20px;
}

.benefits-list {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    flex: 3;
    list-style: none;
    padding: 0;
    margin: 0;
}

.benefits-list li {
    margin: 10px 0;
}

/* Servicios Section */
.contenedor-section {
    padding: 0px 32px;
    background-color: red;
    background: url('img/Fondo.png') no-repeat center center;
    background-size: cover;
    padding-bottom: 44px;
}

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    text-align: center;
    color: #fff;
}

.servicios-logo {
    margin-top: 44px;
    width: 100px;
    margin-bottom: 20px;
}

.servicios-titulo {
    font-family: "Nunito Sans", sans-serif;
    font-size: 72px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    margin: 10px 0 20px 0;
}

.subtítulo-apps {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.servicios-imagen {
    max-width: 70%;
    height: auto;
}

.servicios-imagenes-responsiv {
    width: 80%;
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagen-uno {
    width: 40%;
}

.imagen-dos {
    width: 40%;
}

.planes {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.planes-imagen {
    margin-bottom: 28px;
    width: 300px;
}

.bajada-apps {
    font-family: "Nunito Sans", sans-serif;
    font-size: 32px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

#sitios-web p {
    max-width: 80%;
}

.turno-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-proyectos-interior {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.proyectos-container {
    margin-bottom: 18px;
    display: flex;
    border-radius: 18px;
    color: #fff;
}

.proyecto1 {
    background-color: #066290;
}

.proyecto2 {
    background-color: #028762;
}

.proyecto3 {
    background-color: #020D37;
}

.proyecto4 {
    background-color: #85C3EE;
}

#proyectos {
    padding: 50px 20px;
}

#proyectos h3 {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 40px;
}

#proyectos p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: 600;
}

.boton-iralsitio {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: 600;
}

.img-proyectos {
    padding: 50px 20px;
    width: 50%;
}

.proyectos-container-reversa {
    margin-bottom: 18px;
    display: flex;
    border-radius: 18px;
    color: #fff;
    flex-direction: row-reverse;
}

.contenedor-proyectos-interior button {
    width: 70px;
}

.container-slide {
    width: 40px !important;
}

.slick-center .container-slide img {
    transform: scale(2.5);
    transition: transform 0.5s;
}

.slick-slide:not(.slick-center) .container-slide img {
    /* opacity: 0.5; */
    transition: opacity 0.5s;
}

.container-slide img {
    width: 100px;
}

.container-slide {
    width: auto !important;
    display: inline-block;
}

.slick-slide>div {
    padding: 90px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carrusel {
    margin: 0px 0px 54px;
}

.logo-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slick-track {
    margin-top: 20px;
}

.slick-list {
    
    padding: 40px;
    overflow: hidden;
}

.container-nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 54px;
}

.container-persona {
    display: flex;
}

.persona {
    gap: 22px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.persona img {
    border-radius: 50%;
}

.persona p,
h3 {
    color: #e0e0e0;
}
.desktop-break {
    display: inline;
}
.mobile-break {
    display: none;
}

@media (max-width: 768px) {
    .servicios-titulo {
        font-size: 32px;
    }
    .navbar-logo {
        font-size: 28px;
    }

    .benefits-list{
        text-align: left;
    }
    .navbar{
        padding: 8px 0px;
    }

    .hero-button{
        padding: 10px 128px;
    }
    .desktop-break {
        display: none;
    }
    .mobile-break {
        display: inline;
    }
    .hero-text p {
        line-height: 40px;
        font-size: 40px;
       }
       .hero-text {
        margin-left: 20px;
        text-align: start;
        flex: 1;
    }

       .hero-text h1 {
        font-size: 20px;
    }
    .contenedor-section {
        padding: 0px;}

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navbar-links.active {
        margin-left: 24px;
        height: 428px;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        align-items: flex-start;
    }    

    .hamburger {
        margin-right: 42px;
        display: flex;}

    .hero {
        align-items: normal;
        flex-direction: column;
        text-align: center;
    }

    .hero-image {
        padding: 0px;
        max-width: 60%;
    }

    .benefits {
        flex-direction: column;
        text-align: center;
    }

    .benefits-title {
        text-align: left;
        margin-bottom: 20px;
    }

    .img-proyectos {
        flex-direction: column-reverse;
        align-items: center;
        width: 90%;
        padding: 38px 18px 0px;
    }

    .proyectos-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .contenedor-proyectos-interior {
        padding: 15px 20px 28px;
    }

    .proyectos-container-reversa {
        flex-direction: column-reverse;
    }

    .servicios-imagen {
        max-width: 88%;
    }

    .container-nosotros {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 54px;
        align-content: center;
    }

    .slick-slide>div {
        padding: 60px 0px;
    }

    .container-slide img {
        width: 80px;
    }
}
.no-scroll {
    overflow: hidden;
}
.navbar-scrolled {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.15);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(8.1px);
    transition: background-color 0.3s ease; /* Transición suave */
}


.no-scroll {
    overflow: hidden;
}
