html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
}

.ahero {
    color: inherit;
    text-decoration: none;
}
.navbar {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FCFCF7;
    padding: 12px 0px;
    position: fixed; /* Fijo para que se mantenga en su posición */
    top: 0;
    width: 100%;
    z-index: 10000; /* Asegura que esté por encima del hero */
}
/* .active{
    margin-top: 44px;
} */
.navbar-logo {
    margin-left: 24px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 32px;
}
.pulpo-sello{
    display: none;
}
.navbar-links {
    margin-right: 44px;
    display: flex;
    gap: 32px;
}

.navbar-links a {
    display: flex;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    color: #020202;
    font-size: 20px;
    justify-content: space-between;
}


.overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Color y opacidad */
    z-index: 999; /* Encima del contenido */
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 2px;
    background-color: #121212ba;
    margin: 3px 0;
    transition: 0.4s;
}

.hamburger.active .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active .bar2 {
    opacity: 0;
}

.hamburger.active .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FCFCF7;
    margin-top: 50px; /* Ajusta según la altura de tu navbar */
}

.hero-image {
    flex: 1;
    max-width: 24%;
    padding: 24px 0;
}

.hero-text {
    margin-left: 196px;
    text-align: left;
    flex: 1;
}

.hero-text h1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #1C1F2A;
    margin: 8px 0 32px;
}

.hero-text p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 72px;
    font-weight: 800;
    color: #1C1F2A;
    margin: 0px;
}

.hero-button {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 12px 88px;
    background-color: #8637EF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.contenedor-benefits{
    padding: 240px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits {
    gap: 168px;
    display: flex;
    flex-direction: row;
    max-width: 58%;
    align-items: baseline
}

.benefits-title {
    flex: 2;
    font-family: "Nunito Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
    text-align: right;
    margin-right: 20px;
    color: #1C1F2A;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
    flex: 3;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #1C1F2A;
}

/* Servicios Section */
.contenedor-section {
    background: url('img/Fondo.webp') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 240px 0;
}

.contenedor-section-multiple{
    background: url('img/Fondo.webp') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 240px 0 60px;
}

.nosotros-contacto{
display: flex;
align-items: center;
flex-direction: column;
}

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    max-width: 58%;
}

.titulo-seccion-sitioweb{
margin-bottom: 72px;
}


.servicios-titulo {
    font-family: "Nunito Sans", sans-serif;
    font-size: 48px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    margin: 72px 0 12px 0;
}

.subtítulo-apps {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0 0 72px 0;
}

/* .servicios-imagen {
    max-width: 70%;
    height: auto;
}  */

.servicios-imagenes-responsiv {
    width: 80%;
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagen-uno {
    width: 40%;
}

.imagen-dos {
    width: 40%;
}

.planes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.planes-imagen {
    width: 100%;
    display: block;
}

.bajada-apps {
    font-family: "Nunito Sans", sans-serif;
    font-size: 32px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.texto-debajo-tarifas {
    font-weight: 300;
    font-size: 16px;
    max-width: 100%;
    margin: 72px 0 160px
}

.turno-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-proyectos-interior {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.proyectos-container {
    padding: 40px 40px;
    margin: 0;
    display: flex;
    border-radius: 12px;
    color: #fff;
    max-width: 58%;
    height: 560px;
    gap: 40px;
}

.proyecto1 {
    background-color: #066290;
}

.proyecto2 {
    background-color: #028762;
}

.proyecto3 {
    background-color: #020D37;
}

.proyecto4 {
    background-color: #3D77BF;
}

#proyectos {
    background-color: #FCFCF7;
    padding: 240px 404px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.contenedor-section-proyectos{
    background: #FCFCF7;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 240px 0;
}

#proyectos h3 {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 40px;
    color: #FCFCF7;
}

#proyectos p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.8px;
    color: #FCFCF7;
    margin: 8px 0 64px;
}

.boton-iralsitio {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: rgb(255 255 255 / 40%);
    padding: 8px 88px;
    color: white;
    border: none;
    border-radius: 4px;
    letter-spacing: 0.8px;
    max-width: 320px;
}

.img-proyectos {
    width: 100%;
    height: 100%;
}

.proyectos-container-reversa {
    padding: 40px 40px;
    margin: 0;
    display: flex;
    border-radius: 16px;
    color: #fff;
    gap: 40px;
    max-width: 58%;
    height: 560px;
}

.container-slide {
    width: 40px !important;
}

.slick-center .container-slide img {
    transform: scale(2.5);
    transition: transform 0.5s;
}

.slick-slide:not(.slick-center) .container-slide img {
    /* opacity: 0.5; */
    transition: opacity 0.5s;
}

.container-slide img {
    width: 100px;
}

.container-slide {
    width: auto !important;
    display: inline-block;
}

.slick-slide>div {
    padding: 90px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carrusel {
    margin: 0px 0px 54px;
}

.logo-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.slick-track {
    margin-top: 20px;
}

.slick-list {
    
    padding: 40px;
    overflow: hidden;
}

.container-nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 54px;
}

#nosotros {
padding: 120px 0;
width: 58%;
}

.container-persona {
    display: flex;
}

.persona {
    gap: 22px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.persona img {
    border-radius: 50%;
}

.persona h3 {
    font-family: "Nunito Sans", sans-serif;
    color: #ffff;
    font-size: 24px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 0 0 8px;
}

.persona p {
    font-family: "Nunito Sans", sans-serif;
    color: #ffff;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 0 0;
}

.contenedor-proyectos-interior h3 {
    font-family: "Nunito Sans", sans-serif;
    color: #ffff;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 0 0 8px;
}
.contenedor-proyectos-interior p{
    font-family: "Nunito Sans", sans-serif;
    color: #ffff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 64px;
}

.desktop-break {
    display: inline;
}

.mobile-break {
    display: none;
}

.image-container {
    position: relative;
    display: inline-block; /* Para ajustar el tamaño del contenedor al de la imagen */
  }

  .button-sitios-web{
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    bottom: 64px;
    transform: translateX(-50%);
    padding: 8px 56px;
    background: linear-gradient(to right, #8637ef 10%, #109afc 50%, #01fefc 90%);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 0.8px;
    width: 64%;
  }
  
  .centered-button {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    bottom: 64px;
    transform: translateX(-50%);
    padding: 8px 84px;
    background: linear-gradient(to right, #8637ef 10%, #109afc 50%, #01fefc 90%);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 0.8px;
    width: 64%;
  }
  
  .centered-button:hover {
    background-color: #0056b3; /* Color del botón al pasar el ratón por encima */
  }

.nosotros-container{
    margin: 72px 0 0;
    font-size: 12px;
    gap: 48px;
    font-weight: 100;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros-container h2{
    font-family: "Nunito Sans", sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
}
  .img-nos{
    width: 160px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-form {
    right: 96px;
    width: 720px;
    position: absolute;
    z-index: 2; 
}

.form-container {
    position: relative;
    width: 720px;
    height: 320px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    padding: 56px 48px 120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

h4{
    font-family: "Nunito Sans", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #ffff;
    margin: 0 0 48px!important;
}

.links-container h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 48px;
    font-weight: 400;
    font-style: italic;
    color: #ffff;
    margin: 20px 0;
}

.links,
.social-media {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    align-items: center;
}
.mobile-icon {
    display: none;
}
.links a,
.social-media a {
    color: white;
    text-decoration: none;
}

.copy {
    margin-top: 20px;
}

.form-step {
    display: none;
    flex-direction: column;
}

.form-step.active {
    display: flex;
}

.form-step input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.form-step button {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 12px 88px;
    background-color: #8637EF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}
.popup {
    z-index: 999;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: rgb(255, 252, 252);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup.active {
    display: block;
}

.links-container {
    color: white;
    margin-top: 98px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

textarea {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 12px 12px;
    margin-bottom: 24px;
    min-height: 160px;
    border-radius: 8px;
    width: auto;
    resize: vertical;
}

.footer {
    color: white;
    width: 58%;
    display: flex;
    justify-content: space-between;
}
.error-message{
    margin-bottom: 14px;
    font-size: 14px;
   color: rgb(255, 255, 255); display: none;
}

#contacto{
    display: flex;
    margin-top: 120px;
    width: 58%;
}

@media (max-width: 768px) {
    .container-sello{
        margin-top: 44px;
        display: flex;
        justify-content: flex-end;
        display: flex;
    }

    .pulpo-sello{
        width: 100px;
        display: inline-block;
    }

    .mobile-icon {
        display: inline-block;
    }

    .logo-form{
        width: 88vw;
        margin-top: 44px;
        position: relative;
        right: 0;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .form-container {
        width: 96%;
        border-radius: 12px;
        padding: 48px 24px 64px
    }

    .benefits{
        gap: 8px;;
    }

    .contenedor-proyectos-interior button {
        width: auto;
    }

    .servicios-titulo {
        font-size: 32px;
    }

    .navbar-logo {
        font-size: 28px;
    }

    .benefits-list{
        text-align: left;
    }

    .navbar{
        padding: 10px 0px;
    }

    .hero-button{
        padding: 10px 128px;
    }
    .desktop-break {
        display: none;
    }
    .mobile-break {
        display: inline;
    }
    .hero-text p {
        line-height: 40px;
        font-size: 40px;
       }
       .hero-text {
        margin-left: 20px;
        text-align: start;
        flex: 1;
    }

       .hero-text h1 {
        font-size: 24px;
    }
    .contenedor-section {
        padding: 0px;}

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navbar-links.active {
        margin-left: 24px;
        height: 628px;
        display: flex;
        justify-content: center;
        align-content: flex-start;
    }    

    .hamburger {
        margin-right: 42px;
        display: flex;}

    .hero {
        align-items: normal;
        flex-direction: column;
        text-align: center;
    }

    .hero-image {
        padding: 0px;
        max-width: 60%;
    }

    .benefits {
        flex-direction: column;
        text-align: center;
    }

    .benefits-title {
        text-align: left;
        margin-bottom: 20px;
    }

    .img-proyectos {
        flex-direction: column-reverse;
        align-items: center;
        width: 90%;
        padding: 38px 18px 0px;
    }

    .proyectos-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .contenedor-proyectos-interior {
        padding: 15px 20px 28px;
    }

    .proyectos-container-reversa {
        flex-direction: column-reverse;
    }

    .servicios-imagen {
        max-width: 88%;
    }

    .container-nosotros {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 54px;
        align-content: center;
    }

    .slick-slide>div {
        padding: 60px 0px;
    }

    .container-slide img {
        width: 80px;
    }

    h4{
        font-family: "Nunito Sans", sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #ffff;
        margin: 0 0 24px !important;
    }

    #contacto{
        display: flex;
        margin-top: 120px;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .form-step button {
        font-family: "Nunito Sans", sans-serif;
        font-size: 16px;
}

.no-scroll {
    overflow: hidden;
}
.navbar-scrolled {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.15);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(8.1px);
    transition: background-color 0.3s ease; /* Transición suave */
}
.no-scroll {
    overflow: hidden;
}
}